.active{
    background: rgb(65, 64, 64);
    color: rgb(255, 255, 255) !important;
}

.nav-link{
    color: #555 ;
    font-size: 13px
}

.nav-link:hover{
    background: rgb(200, 198, 198);
    color: #fff;
}